{% extends 'OnlineProjectApp/base.html' %}

{% load static %}

{% block content %}

    <div class="container">

        <div style="float:right; background-color: red; border-radius: 50%;">
            {% include 'shopping_cart.widget.html' %}
        </div>
        
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mt-5 mb-5">
                <div class="card" style="100%;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="Product" style="height: 10rem;">
                    <div class="card-body">
                        <h5 class="font-weight-bold card-title">{{product.name}}</h5>
                        <p class="card-text">$ {{ product.price }}</p>
                    </div>
                    <div class="card-footer text-center">
                        <button href="{% url 'shopping_cart:add' product.id %}" class="btn btn-success">Add to cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}