<table class="table table-bordered" style="color: #FFFFFF;">
    <thead>
        <tr>
            <th colspan="3" class="text-center">
                Shopping cart
            </th>
        </tr>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>

        {% if request.session.shopping_cart.items %}
            {% for key, value in request.session.shopping_cart.items %}
                <tr class="text-center">
                    <td>{{ value.name }}</td>
                    <td>{{ value.quantity }}</td>
                    <td>
                        <a href="{% url 'shopping_cart:add' value.product_id %}" class="btn btn-success btn-sm">+</a>
                        <a href="{% url 'shopping_cart:decrement' value.product_id %}" class="btn btn-danger btn-sm">-</a>
                        <br>
                        ${{value.price}}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3" class="alert alert-danger text-center">No items in cart</td>
            </tr>
        {% endif %}

    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-center">
                Total $ {{ total_shopping_cart}}
            </td>
        </tr>
    </tfoot>
</table>