{% extends 'OnlineProjectApp/base.html' %}

{% load static %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center; margin: 2rem 0;">
    <form action="" method="POST" class="text-center"> {% csrf_token %}
        <table style="display: flex; flex-direction: column;width: 30%; justify-content: center; color: #FFFFFF; gap: 10px;">
            {{form.as_table}}
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}