{% extends 'OnlineProjectApp/base.html' %}

{% load static %}

{% block content %}

    <div class="m-4" style="display: flex; justify-content: center;">
        <div class="row" style="gap: 20px;">
            {% for service in services %}
                <div class="card" style="width: 18rem;">
                    <img src="{{service.image.url}}" class="card-img-top" alt="Service" style="height: 10rem;">
                    <div class="card-body">
                        <h5 class="font-weight-bold card-title">{{service.title}}</h5>
                        <p class="card-text">{{service.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}